body{
    background-color: #4e3e7a82;
    margin:0;
}
main{
    margin: 0 0.75rem 0 0.5rem;
}
h1,h2,h3,h4, a, label{
    font-family: 'Oswald', sans-serif;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
main a{
    color:#4402fa;
    text-decoration: none;
    transition: color 0.1s ease-in;
}
main a:hover{
    color:white;
}
hr{
    border: 2px solid #5530ba;
}
footer{
    display:flex;
    position:fixed;
    justify-content: right;
    bottom:2%;
    right:2%;
}
header{
    top:0%;
    width:100%;
    background-color: #a59c39;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 1rem;
    min-height: 5rem;
    display:grid;
    grid-template-columns: 26% 37% 37%;
    grid-template-rows: 100%;
    font-size: larger;
}
nav{
    display:flex;
    flex-flow: row wrap;
    grid-column-start: 2;
    grid-column-end: 4;
    justify-content: space-evenly;
    align-items:center;
    margin-right:1rem;
}
nav a{
    padding:4px;
    text-decoration: none;
    transition: background-color 0.1s ease-in;
    color:black;
}
header img{
    max-height: 5rem;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-left:1rem;
}
footer a{
    text-decoration: none;
    transition: background-color 0.1s ease-in;
    color:black;
    text-align: center;
    vertical-align: middle;
}
header a:hover, footer a:hover{
    background-color: #fae502;
}
button{
    border:none;
    font-family: 'Oswald', sans-serif;
}
button[type=reset]{
    background-color: red;
    color:white;
    transition:background-color 0.1s ease-in;
    transition:color 0.1s 0.05s ease-in;
    font-size: larger;
}
button[type=reset]:hover{
    background-color: #fff;
    color:red;
}
button[type=submit]{
    margin-right: 40%;
    font-size: larger;
}
footer a{
    padding:8px;
}
.button{
    background-color:#4402fa;
    vertical-align: middle;
    text-decoration: none;
    color:white;
    transition: background-color 0.1s ease-in;
    margin-right:0.3rem;
}
.horizontal{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
}
.cart-button{
    display:flex;
    background-color: #4402fa;
    padding:8px;
    min-width:2rem;
    max-width:25%;
    color:#fff;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    transition: background-color 0.2s ease-in;
    transition: color 0.2s ease-out;
}
.cart-button:hover, .button:hover{
    background-color: white;
    color:#4402fa;
}
form input[type=text]{
    width:97%;
    margin-bottom: 1rem;
}
#shipping, #message{
    min-height: 11rem;
}
/* 
CATALOG GRID 
*/
.catalog{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 1rem 0 0 0;
}
.catalog-item{
    background-color: #a59c39;
    width:38vw;
    height:30vh;
    margin:0.25rem;
    padding:8px;
    max-width: 300px;
    max-height: 320px;
    display:grid;
    grid-gap: 0.5rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 70% 30%;
}
.catalog-item img{
    max-width: 90%;
    max-height:100%;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}
.catalog-item button{
    max-width: 100%;
    max-height: 2.5rem;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}
.catalog-item p{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}
/* 
END CATALOG GRID 
*/
/*CART TABLE*/
table{
    background-color: white;
    width:100%;
}
th{
    font-family: 'Oswald', sans-serif;
}
td{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
/* END CART TABLE */
@media (min-width:1000px){
    nav{
        width:80%;
        display:flex;
        justify-content: space-evenly;
        align-items: center;
    }
    header{
        display:flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    header h1{
        padding-right: 2rem;
    }
    main{
        margin:0.75rem 3rem 0.75rem 2rem;
    }
}
