body{
    background-color: #4e3e7a82;
    margin:0;
}
main{
    margin:0.75rem;
    margin-right:3rem;
}
h1,h2,h3,h4, a, label{
    font-family: 'Oswald', sans-serif;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
hr{
    border: 2px solid #5530ba;
}
footer{
    display:flex;
    position:fixed;
    justify-content: right;
    bottom:2%;
    width:100%;
}
header{
    top:0%;
    width:100%;
    background-color: #a59c39;
    padding-top: 5px;
    padding-bottom: 5px;
    height:5rem;
    display:grid;
    grid-template-columns: 32% 34% 34%;
    grid-template-rows: 33% 33% 34%;
    font-size: larger;
}
nav{
    grid-column-start: 2;
    grid-column-end: 4;
}
nav a{
    padding:4px;
    text-decoration: none;
    transition: background-color 0.1s ease-in;
    color:black;
}
header img{
    max-height: 98%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    margin-left:1rem;
}
footer a{
    text-decoration: none;
    transition: background-color 0.1s ease-in;
    color:black;
    text-align: center;
    vertical-align: middle;
}
header a:hover, footer a:hover{
    background-color: #fae502;
}
button[type=reset]{
    background-color: red;
    color:white;
    transition:background-color 0.1s ease-in;
    transition:color 0.1s 0.05s ease-in
}
button[type=reset]:hover{
    background-color: #fff;
    color:red;
}
button[type=submit]{
    margin-right:3rem;
}
footer a{
    padding:8px;
}
.button{
    background-color:#4402fa;
    vertical-align: middle;
    text-decoration: none;
    color:white;
    transition: background-color 0.1s ease-in;
    margin-right:0.3rem;
}
.horizontal{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
}
.cart-button{
    display:flex;
    background-color: #4402fa;
    padding:8px;
    min-width:4rem;
    max-width:50%;
    color:#fff;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    transition: background-color 0.2s ease-in;
    transition: color 0.2s ease-out;
}
.cart-button:hover, .button:hover{
    background-color: white;
    color:#4402fa;
}
form input[type=text]{
    width:97%;
}
#shipping, #message{
    min-height: 11rem;
}
.catalog{
    display:flex;
    flex-flow: row wrap;
}
.catalog-item{
    background-color: #a59c39;
    width:38vw;
    height:29vh;
    margin:0.25rem;
    max-width: 300px;
    max-height: 280px;
}
@media (min-width:1000px){
    nav{
        width:80%;
        display:flex;
        justify-content: space-evenly;
        align-items: center;
    }
    header{
        display:flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    header h1{
        padding-right: 2rem;
    }
}
